@import "../../scss/index.scss";
.resultados {
  margin-top: 10vh;
  text-align: center;
  border-bottom: 1px solid $color-primario;
  h3 {
    margin-top: 15vh;
  }
}
.icono-resultados {
  margin: 25px 25px;
}

.Toaster__alert {
  // background-color: $color-cuatro !important;
  // overflow: hidden;
  // max-width: 650px;
  // position: relative;
  // border-radius: 0.4rem;
  // display: flex;
  // padding: 1rem;
  // padding-right: 48px;
  // box-shadow: rgba(52, 58, 64, 0.15) 0px 1px 10px 0px, rgba(52, 58, 64, 0.1) 0px 6px 12px 0px,
  //   rgba(52, 58, 64, 0.12) 0px 6px 15px -2px;
}
