// Paleta de colores principal

$color-primario: #ffaa00;
$color-uno: #ffdf0d;
$color-dos: #e8b50c;
$color-tres: #e8870c;
$color-cuatro: #ff710d;

// Colores de fondo

$color-fondo-gris: rgb(233, 233, 233);
$color-fondo-negro: rgb(0, 0, 0);
