body {
  font-family: "Baloo Tammudu 2", cursive;
  // background-color: gray !important;
  // color: white !important;
  // strong {
  //   color: red !important;
  // }
}
.img-vista-registro {
  width: 100px;
}
.img-vista-registro-2 {
  width: 50px;
}
.img-vista-registro-3 {
  width: 250px;
}

.cursor-pointer {
  cursor: pointer;
}
.body {
  background-color: black !important;
  color: rgb(187, 187, 187) !important;
  table {
    color: rgb(187, 187, 187) !important;
  }
  form {
    background-color: black !important;
    color: rgb(187, 187, 187) !important;
  }
  .modal-content {
    background-color: rgb(86, 86, 86) !important;
    color: rgb(187, 187, 187) !important;
  }
}
