body {
  font-family: "Baloo Tammudu 2", cursive;
  // background-color: gray !important;
  // color: white !important;
  // strong {
  //   color: red !important;
  // }
}
.img-vista-registro {
  width: 100px;
}
.img-vista-registro-2 {
  width: 50px;
}
.img-vista-registro-3 {
  width: 250px;
}

.cursor-pointer {
  cursor: pointer;
}
.body {
  background-color: black !important;
  color: rgb(187, 187, 187) !important;
  table {
    color: rgb(187, 187, 187) !important;
  }
  form {
    background-color: black !important;
    color: rgb(187, 187, 187) !important;
  }
  .modal-content {
    background-color: rgb(86, 86, 86) !important;
    color: rgb(187, 187, 187) !important;
  }
}
.BarraLateralPanelAdministrador {
  .link {
    height: 50px;
    display: flex;
    align-items: center;
    // border-right: 1px solid black;
  }
  .activo {
    background-color: orange;
    // box-shadow: 1px 2px 5px rgb(160, 160, 160);
    justify-content: center;
    // border-radius: 10px;
    border-right: 10px solid black;
    color: white;
  }
}
.modal-xl {
  min-width: 95vw !important;
}

.espera {
  margin-left: 1em;
  margin-right: 1em;
  border: 4px solid rgba(0, 0, 0, 0.1);
  width: 2em;
  height: 2em;
  border-radius: 50%;
  border-left-color: orange;
  animation: gira 1s ease infinite;
}
@keyframes gira {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
