.espera {
  display: flex;
  text-align: center;
  justify-content: center;

  img {
    animation: avanza 2s alternate infinite ease-in;
  }
}

@keyframes avanza {
  0% {
    transform: translateX(-200%);
  }

  100% {
    transform: translateX(200%);
  }
}
