@import "../../scss/index.scss";
.ofertas {
  &__titulo {
    text-align: center;
    margin: 25px 0;
    padding: 20px;
    clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
    border: 1px solid $color-uno;
    h2 {
      font-weight: 800;
      text-transform: uppercase;
      color:$color-primario;
    }
  }
  &__tarjetas {
  }
  .container-fluid {
    .row {
      .col-md-6 {
        padding: 10px;
      }
    }
  }
}

@media screen and (max-width: 450px) {
  .ofertas {
    &__titulo {
      h2 {
        font-size: 1em;
      }
    }
  }
}
