@import "../../scss/index.scss";

.notfound {
  background-color: red;
  height: 45vh;
  margin-top: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
  p {
    text-transform: uppercase;
    color: white;
  }
}
